<% if @book %>
	<div class="flash-notice">
	<i class="fa fa-times " id="js-close-purchase" aria-hidden="true"></i>
		<section class="purchase-container">
				<%= image_tag(@book.cover) %>
				<article class="purchase-info">
					<h3>Guau! <%= current_reader.first_name %>! Este es tu Bookswap numero <%= get_bookswap_count(current_reader) %>! Sigue así! Esta es la información de tu nuevo libro: </h3>
					<p><span>Título:</span> <%= @book.title %></p>
					<p><span>Autor:</span> <%= format_author(@book.author) %></p>
				</article>
		</section>
	</div>
<% end %>
<div class="user-container">
	<section class="user-panel">
		<h1>Bienvenido a tu perfil, <%= current_reader.first_name %></h1>
		<h6>Puedes editar tu información desde aquí.</h6>
		<%= simple_form_for current_reader do |f| %>
			<div class="avatar-status">
				<%= image_tag(current_reader.avatar) %>
			</div>
			<div class="input-edits">
				<div class="input-group">
					<%= f.input_field :first_name, disabled: true, class: "first_name user-info", placeholder: 'Nombre:'%>
				</div>
				<div class="input-group">
					<%= f.input_field :last_name,  disabled: true, class: "last_name user-info", placeholder: 'Apellidos:'  %>
				</div>
				<div class="input-group">
					<%= f.input_field :email, disabled: true, class: "email user-info", placeholder: 'Email:'%>
				</div>
				<div class="input-group">
					<%= f.input_field :address, disabled: true, class: "address user-info", placeholder: 'Dirección:'  %>
				</div>
				<div class="input-group">
					<%= f.input_field :postcode,  disabled: true, class: "postcode user-info", placeholder: 'CP:'%>
				</div>
				<div class="input-group">
					<%= f.input_field :city, disabled: true, class: "city user-info", placeholder: 'Ciudad:'  %>
				</div>
				<div class="input-group submit-group">
					<%= f.submit 'Actualizar' %> 
					<button class="edit-button" data-edit="user-info">Editar Información</button>
				</div>
			</div>
		<% end %>
	</section>
	<section class="button-filters js-book-filters">
		<div class="button-group">
		  <label>
		    <input type="radio" name="button-group" value="on_sale" checked>
		    <span class="button-group-item">Mis libros</span>
		  </label>
		  <label>
		    <input type="radio" name="button-group" value="sold">
		    <span class="button-group-item">Swapped - Entregados</span>
		  </label>
		  <label>
		    <input type="radio" name="button-group" value="bought">
		    <span class="button-group-item">Swapped - Recogidos</span>
		  </label>
		</div>
	</section>
</div>
<section class="banner flash-alert hidden">
	<h2>No tienes libros disponibles</h2>
	<label for="modal-isbn">
		<p>Añade <a class="modal-trigger">más libros</a> y sigue sumando puntos</p>
	</label> 
</section>
<div class="row js-append-books"></div>