<% if notice %>
<div class="flash-notice">
	<p><%= notice %></p>
	<section class="purchase-container">
		<% if @book %>
			<%= image_tag(@book.cover) %>
			<article class="purchase-info">
				<h3>Congratulations <%= current_reader.first_name %>! This is your Bookswap number <%= get_bookswap_count(current_reader) %>! Keep going! Take a look to the book below: </h3>
				<p><span>Title:</span> <%= @book.title %></p>
				<p><span>Author:</span> <%= format_author(@book.author) %></p>
			</article>
		<% end %>
	</section>
</div>
<% end %>
<div class="user-container">
	<section class="user-panel">
		<h1>Welcome to your profile, <%= current_reader.first_name %></h1>
		<h6>You can edit your information by clicking on the icons</h6>
		<%= simple_form_for current_reader do |f| %>
			<div class="avatar-status">
				<%= image_tag(current_reader.avatar) %>
			</div>
			<div class="input-edits">
				<div class="input-group">
					<%= f.input_field :first_name, disabled: true, class: "first_name" %>
					<button class="edit-button" data-edit="first_name">Editar</button>
				</div>
				<div class="input-group">
					<%= f.input_field :last_name,  disabled: true, class: "last_name"  %>
					<button class="edit-button" data-edit="last_name">Editar</button>
				</div>
				<div class="input-group">
					<%= f.input_field :email, disabled: true, class: "email"  %>
					<button class="edit-button" data-edit="email">Editar</button>
				</div>
				<div class="input-group">
					<%= f.input_field :address, disabled: true, class: "address"  %>
					<button class="edit-button" data-edit="address">Editar</button>
				</div>
				<div class="input-group">
					<%= f.input_field :postcode,  disabled: true, class: "postcode" %>
					<button class="edit-button" data-edit="postcode">Editar</button>
				</div>
				<div class="input-group">
					<%= f.input_field :city, disabled: true, class: "city"  %>
					<button class="edit-button" data-edit="city">Editar</button>
				</div>
				<div class="input-group submit-group">
					<%= f.submit 'Update reader' %> 
				</div>
			</div>
		<% end %>
	</section>
	<section class="button-filters js-book-filters">
		<div class="button-group">
		  <label>
		    <input type="radio" name="button-group" value="on_sale" checked>
		    <span class="button-group-item">Owned</span>
		  </label>
		  <label>
		    <input type="radio" name="button-group" value="sold">
		    <span class="button-group-item">Swapped - Given</span>
		  </label>
		  <label>
		    <input type="radio" name="button-group" value="bought">
		    <span class="button-group-item">Swapped - Received</span>
		  </label>
		</div>
	</section>
</div>
<div class="row js-append-books"></div>