<div class="modal">
	  <label for="modal-book">
	  <div class="modal-trigger"></div>
	  </label>
	  <input class="modal-state" id="modal-book" type="checkbox" />
	  <div class="modal-fade-screen">
	    <div class="modal-inner">
	      <div class="modal-close" for="modal-book"></div>
	      <h1>Yay! We found it! Check the info and submit your new book!</h1>
	      	<section class="js-new-book-form">
	      		<%= simple_form_for books_create_path do |f| %>
	      		<%= image_tag("", class: "cover") %>
	      		<div class="book-data">
	      			<%= f.input_field :title, disabled: true, class: "title" %>
	      			<%= f.input_field :author, disabled: true, class: "author" %>
	      			<%= f.input_field :publisher, disabled: true, class: "publisher" %>
	      			<%= f.input_field :year, disabled: true, class: "year" %>
	      			<%= f.label "You'll get: "  %>
	      			<%= f.input_field :price, disabled: true, class: "price" %>
	      			<%= f.hidden_field :isbn, class: "isbn" %>
	      			<%= f.label "People love a good description: " %>
	      			<%= f.text_field :description, class: "description" %>
	      			<%= f.submit "Add book to collection" %>
	      		</div>
	      		<% end %>
	      	</section>
	    </div>
	  </div>
	</div>