<div class="modal">
	  <label for="modal-book">
	  <div class="modal-trigger"></div>
	  </label>
	  <input class="modal-state" id="modal-book" type="checkbox" />
	  <div class="modal-fade-screen">
	    <div class="modal-inner">
	      <div class="modal-close" for="modal-book"></div>
	      <h3 class="new-book-heading"></h3>
	      	<section class="js-new-book-form">
	      		<%= simple_form_for books_create_path do |f| %>
	      		<%= image_tag("", class: "cover") %>
	      		<div class="book-data">
		      		<div class="input-group">
		      			<%= f.input_field :title, disabled: true, class: "title", placeholder: 'Título' %>
		      			<button class="edit-button" data-edit="title">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :author, disabled: true, class: "author", placeholder: 'Autor' %>
		      			<button class="edit-button" data-edit="author">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :publisher, disabled: true, class: "publisher", placeholder: 'Editorial' %>
		      			<button class="edit-button" data-edit="publisher">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :year, disabled: true, class: "year", placeholder: 'Año de publicación' %>
		      			<button class="edit-button" data-edit="year">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.label "Te damos: "  %>
		      			<%= f.input_field :price, disabled: true, class: "price" %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.label "A la gente le encanta una buena descripción:" %>
		      			<%= f.text_field :description, class: "description" %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.submit "Add book to collection" %>
		      		</div>
		      			<%= f.hidden_field :isbn, class: "isbn" %>
	      		</div>
	      		<% end %>
	      	</section>
	    </div>
	  </div>
	</div>