<div class="modal">
	  <label for="modal-book">
	  <div class="modal-trigger"></div>
	  </label>
	  <input class="modal-state" id="modal-book" type="checkbox" />
	  <div class="modal-fade-screen">
	    <div class="modal-inner">
	      <div class="modal-close" for="modal-book"></div>
	      <h3 class="new-book-heading"></h3>
	      	<section class="js-new-book-form">
	      		<%= simple_form_for Book.new, url: books_create_path do |f| %>
	      		<div class="cover">
	      			<%= image_tag("", class: 'cover-default') %>
	      			<%= f.hidden_field :cover, class: 'cover-hidden' %>
	      			<%= f.label 'Sube tu propia portada' %>
	      			<%= f.input :avatar, as: :file, class: 'custom-cover' %>
	      		</div>
	      		<div class="book-data">
		      		<div class="input-group">
		      			<%= f.input_field :title, class: "title", placeholder: 'Título' %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :author, class: "author", placeholder: 'Autor' %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :publisher, class: "publisher", placeholder: 'Editorial' %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :year, class: "year", placeholder: 'Año de publicación' %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.label "Puntos obtenidos:"  %>
		      			<%= f.input_field :price, class: "price", as: :string, disabled: true %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.label "A la gente le encanta una buena descripción:" %>
		      			<%= f.text_field :description, class: "description" %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.submit "Añadir libro a mi colección" %>
		      		</div>
		      			<%= f.hidden_field :isbn, class: "isbn" %>
		      			<%= f.hidden_field :price, class: "price" %>
	      		</div>
	      		<% end %>
	      	</section>
	    </div>
	  </div>
	</div>