<div class="modal">
	  <label for="modal-book">
	  <div class="modal-trigger"></div>
	  </label>
	  <input class="modal-state" id="modal-book" type="checkbox" />
	  <div class="modal-fade-screen">
	    <div class="modal-inner">
	      <div class="modal-close" for="modal-book"></div>
	      <h3 class="new-book-heading">Es este tu libro? Si no ves algún campo, puedes editarlo a mano!</h3>
	      	<section class="js-new-book-form">
	      		<%= simple_form_for books_create_path do |f| %>
	      		<%= image_tag("", class: "cover") %>
	      		<div class="book-data">
		      		<div class="input-group">
		      			<%= f.input_field :title, disabled: true, class: "title" %>
		      			<button class="edit-button" data-edit="title">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :author, disabled: true, class: "author" %>
		      			<button class="edit-button" data-edit="author">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :publisher, disabled: true, class: "publisher" %>
		      			<button class="edit-button" data-edit="publisher">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.input_field :year, disabled: true, class: "year" %>
		      			<button class="edit-button" data-edit="year">Editar</button>
		      		</div>
		      		<div class="input-group">
		      			<%= f.label "You'll get: "  %>
		      			<%= f.input_field :price, disabled: true, class: "price" %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.label "People love a good description: " %>
		      			<%= f.text_field :description, class: "description" %>
		      		</div>
		      		<div class="input-group">
		      			<%= f.submit "Add book to collection" %>
		      		</div>
		      			<%= f.hidden_field :isbn, class: "isbn" %>
	      		</div>
	      		<% end %>
	      	</section>
	    </div>
	  </div>
	</div>