<div class="book swappable" id="<%= book.id %>">
	<div class="front">
		<section class="book-box">
			<article class="book-box-actions">
				<span class="book-price"><%= book.price %><i class="fa fa-book"></i><span/>
			</article>
			<article class="book-thumbnail">
				<%= image_tag(check_avatar(book)) %>
			</article>
			<article class="book-inner-elements">
				<h6 class="book-title"><%= book.title %></h6>
				<p class="book-author"><%= format_author(book.author) %></p>
			</article>
			<article>
				<p class="book-more-info">Saber más</p>
			</article>
		</section>
	</div>
	<div class="back hidden">
		<section class="book-box book-owner">
			<% if reader_signed_in? %>
				<article>
					<p class="book-owner-name"><%= format_owner_name(book.reader.first_name,book.reader.last_name)%></p>
					<%= image_tag(book.reader.avatar, size: '80x80') %>
					<% if book.description != "" %>
						<p><%= format_owner_name(book.reader.first_name,book.reader.last_name) %> dice: </p>
						<p class="book-description"><%= book.description %></p>
					<% end %>
				</article>
				<article class="swap-book">
					<%= button_to swap_book_path(book.id), disabled: compare_credit(book.price,current_reader.credit) do %>
					  <span class="swap">Swap it!</span>
					<% end %>
					<h6><%= book.price %> points</h6>
				</article>
				<div class="js-book-location book-map"></div>
				<div id="book-location-data">
					<input type="hidden" class="postcode" value="<%= book.reader.postcode %>">
					<input type="hidden" class="address" value="<%= book.reader.address %>">
					<input type="hidden" class="city" value="<%= book.reader.city %>">
				</div>
			<% else %>
				<article class="back-login-buttons">
					<h4>No estás conectado?</h4>
					<div>
						<button class="sign js-access-button" data-session="signup">Regístrate</button>
					</div>
					<div>
						<button class="log js-access-button" data-session="login">Conéctate</button>
					</div>
				</article>
			<% end %>
		</section>
	</div>
</div>
