<nav class="top-bar js-access-buttons">
<ul class="menu">
	<% if !reader_signed_in? %>
		<li>
			<button class="sign" data-session="signup">Sign in</button>
		</li>
		<li>
			<button class="log" data-session="login">Log in</button>
		</li>
	<% end %>
	<li>
		<%= link_to 'Browse books', root_path, class: 'browsing' %>
	</li>
	<% if reader_signed_in? %>
	<li class="add-book-menu">
		<label for="modal-isbn">
			<a class="modal-trigger">Nuevo libro</a>
		</label>
	</li>
	<li>
		<span>Ahoi <%= link_to current_reader.first_name , reader_path(current_reader.id), class: 'my-profile'%></span>
		<%= image_tag(current_reader.avatar, size: '30x30', class: 'profile-pic') %>
	</li>
	<li class="credit-tab"><span class="current-credit">Your credit:&nbsp;<%= current_reader.credit %> </span></li>
	<li>
		<%= link_to '', destroy_reader_session_path, method: 'delete', class: "sign-out" %>
	</li>
	<% end %>
</ul>
</nav>