<!DOCTYPE html>
<html>
<head>
  <title>Bookswap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="flash-container">
	
</div>
<div class="user-bar">
	<% if reader_signed_in? %>
		<%= link_to 'Log out', destroy_reader_session_path, method: :delete %>
	<% end %>
</div>
<%= yield %>

</body>
</html>
