<!DOCTYPE html>
<html>
<head>
  <title>Bookswap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if reader_signed_in? %>
<nav class="top-bar">
<ul class="menu">
	<li>
		<%= link_to 'Browse books', root_path %>
	</li>
	<li class="add-book-menu">
		<form class="search-bar js-create-book" role="search">
		  	<input type="search" class="search-isbn" placeholder="Enter ISBN" />
		  	<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</li>
	<li>
		<span>Ahoi <%= current_reader.first_name %></span>
		<%= link_to '', reader_path(current_reader.id), class: "fa fa-user fa-2x" %>
	</li>
	<li>
		<%= link_to 'Log out', destroy_reader_session_path, method: 'delete' %>
	</li>
</ul>
</nav>
<% end %>
<div class="flash-container"></div>
<%= yield %>
<!-- MODAL FORM FOR VIEW BOOK DATA  -->
<div class="modal">
	  <label for="modal-1">
	  <div class="modal-trigger"></div>
	  </label>
	  <input class="modal-state" id="modal-1" type="checkbox" />
	  <div class="modal-fade-screen">
	    <div class="modal-inner">
	      <div class="modal-close" for="modal-1"></div>
	      <h1>Yay! We found it! Check the info and submit your new book!</h1>
	      <form class='js-new-book-form' data-remote="true">
	      	<img src="" alt="book cover" class="cover">
	      	<div class="book-data">
	      		<input type="text" class="title" disabled>
		      	<input type="text" class="author" disabled>
		      	<input type="text" class="publisher" disabled>
		      	<input type="text" class="year" disabled>
		      	<label for="price">You'll obtain</label>
		      	<input type="text" class="price" disabled>
		      	<input type="hidden" class="isbn" disabled>
		      	<textarea name="description" id="" cols="20" rows="2" placeholder="Enter a description">
		      	</textarea>
		      	<button type="submit">Yes!</button>
	      	</div>
	      </form>
	    </div>
	  </div>
	</div>
</body>
</html>
