<!DOCTYPE html>
<html>
<head>
  <title>Bookswap</title>
  <%= stylesheet_link_tag("normalize.css") %>
  <%= stylesheet_link_tag("components/spinloader/spinloader.css") %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Lato:400,300,700' ,media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'partials/topbar' %>
<% flash.each do |key, value| %>
	<%= content_tag :div, value, class: "flash-#{key}" %>
<% end %>
<div class="flash-container">
</div>
<div class="sk-folding-cube hidden">
	<div class="sk-cube1 sk-cube"></div>
	<div class="sk-cube2 sk-cube"></div>
 	<div class="sk-cube4 sk-cube"></div>
 	<div class="sk-cube3 sk-cube"></div>
</div>
<%= yield %>
<!-- MODAL FORM FOR VIEW BOOK DATA  -->
<%= render 'partials/add_book' %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJwQ7qgwUYg9YyNhWHAWiiqBKRWJXaqGQ" async defer></script>
</body>
</html>
